# Django
DEBUG=True
SECRET_KEY=sua-chave-secreta-django-aqui

# Supabase
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_KEY=sua-chave-anonima-supabase-aqui
SUPABASE_SERVICE_ROLE_KEY=sua-chave-service-role-aqui

# AWS S3 (opcional, se usar storage externo)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
